#u75-4
{
	background-color: transparent;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u1824
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 14px;
	line-height: 17px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u78-4,#u2289-6
{
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

